
// Colors
$primary-color: #673AB7;
$primary-light: #9575CD;
$primary-dark: #512DA8;
$accent-color: #009688;
$accent-light: #4DB6AC;
$accent-dark: #00796B;
$warn-color: #F44336;
$warn-light: #EF5350;
$success-color: #4CAF50;
$success-light: #81C784;
$warning-color: #FF9800;
$warning-light: #FFB74D;